
{# 
   これはVirutal Hostの設定を生成するテンプレートです。
   記法はPythonのjinja2テンプレートエンジンです。
   変数はvars/{指定STAGE}.yml から読み込んで展開されます。
#}
<VirtualHost *:80>
    ServerName {{ HOST_NAME }}

    {% if ENV | length > 1 %}SetEnv ENV "{{ ENV }}"{% endif %}

    DocumentRoot /home/ubuntu/myapp/current/public
    ErrorLog /home/ubuntu/logs/error.log
    CustomLog /home/ubuntu/logs/access.log combined

    RemoteIPHeader X-Forwarded-For

    <Directory /home/ubuntu/myapp/current/public>
        Options FollowSymlinks
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>